<div class="list-group">
    <a class="list-group-item" href="{{ site.baseurl }}/">Home</a>
    {% for section in site.sections %}
        {% assign attr = section[0] %}
        {% assign label = section[1] %}

        {% for page in site.categories[attr] %}
            {% if forloop.first %}
                <a class="heading list-group-item">{{ label }}</a>
            {% endif %}
            <a class="list-group-item" data-order="{{ page.order }}" href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a>
        {% endfor %}
    {% endfor %}
<!-- List additional links. It is recommended to add a divider
    e.g. <li class="divider"></li> first to break up the content. -->
</div>
