<div class="list-group">
    <a class="{% if page.url == '/' %}active{% endif %} list-group-item" href="{{ site.baseurl }}/">Home</a>
    {% for section in site.sections %}
        {% assign attr = section[0] %}
        {% assign label = section[1] %}

        {% for item in site.categories[attr] %}
            {% if forloop.first %}
                <a class="heading list-group-item">{{ label }}</a>
            {% endif %}
            <a class="{% if item.url == page.url %}active{% endif %} list-group-item" data-order="{{ item.order }}" href="{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a>
        {% endfor %}
    {% endfor %}
<!-- List additional links. It is recommended to add a divider
    e.g. <li class="divider"></li> first to break up the content. -->
</div>
